<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand" href="#" >
      <img src="support/topbar.png" width="40" height="40" class="d-inline-block align-top" alt="">
      TV Series
  </a>
</nav>
<div class="container">
  <div class="row">
      <div class="col">
          <h1>TV Series</h1>
          <table class = "table table-light">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Chanel</th>
                      <th scope="col">Seasons</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let serie of series" class = "table-secondary">
                    <td>{{serie.id}}</td>
                    <td><a href = {{serie.link}}>{{serie.name}}</a></td>
                    <td>{{serie.channel}}</td>
                    <td>{{serie.seasons}}</td>
                  </tr>
              </tbody>
          </table>
          <p> Seasons average: {{averageSeasons}}</p>
      </div>
  </div>
</div>
